.contacts {
  outline: 5px solid orange;
  outline-offset: -5px;
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts__item {
  padding-top: 24px;
}

.contacts__title {
  margin: 0;
  padding-top: 47px;
}

.contacts__subtitle {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}

.contacts__link {
  color: $red;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.contacts__map {
  border: none;
}
