.copyright__link {
  display: flex;
  justify-content: baseline;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $black;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.copyright__image {
  padding-left: 16px;
}

.copyright__link:hover path {
  fill: $black;
}
