.feedback__title {
  padding-top: 36px;
  padding-bottom: 51px;
  margin: 0;
  background-color: $load-background-color;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
}

.feedback__intro {
  padding-top: 54px;
  padding-bottom: 55px;
  margin: 0;
}

.feedback__annotation {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
