.form-upload__wrapper {
  background-color: $secondary-background-color;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 940px;
    margin: 0 auto;
  }
}

.form-upload__image {
  display: block;
  margin: auto;
  padding-top: 20px;
  width: 280px;
  height: 374px;

  @media (min-width: $tablet-width) {
    background-color: $load-img-background-color;
    width: 300px;
    height: 400px;
    padding-top: 0;
    margin-top: 57px;
    margin-left: 20px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.form-upload__list {
  margin: 0 auto;
  padding: 0;
  padding-top: 41px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    padding-left: 35px;
    max-width: 272px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 32px;
    /*padding-left: 75px;*/
    padding-left: 0;
    margin: 0;
    margin-left: 88px;
    min-width: 413px;
  }
}

.form-upload__item {
  padding-bottom: 20px;
  display: block;
  width: 48px;
  margin-left: 13px;
  margin-right: 17px;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
    padding-bottom: 19px;
    border-bottom: 1px solid $border-social-color;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 2px;
    margin: 0;
  }
}

.form-upload__wrapper::before {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $primary-text-color;
    opacity: 0.1;
    bottom: 201px;
    left: 0;
  }
}

.form-upload__button {
  border: none;
  background-color: $secondary-background-color;
  width: 48px;
  height: 100%;
  padding: 0;
  opacity: 0.3;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    width: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 48px;
  }
}

.form-upload__button--active {
  opacity: 1;
}

.form-upload__button--active svg {
  fill: $red;
}

.form-upload__tools {
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    max-width: 0;
    min-width: 305px;
  }

  @media (min-width: $desktop-width) {
    min-width: 500px;
  }
}

//Form-upload__tools

//Scale

.form-upload__roller {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.form-upload__roller--active {
  display: block;
}

.form-upload__toggle {
  cursor: pointer;
  position: absolute;
  width: 12px;
  height: 16px;
  background: $white;
  border: 2px solid $red;
  border-radius: 50%;
}

.form-upload__toggle:active {
  background: $red;
}

.form-upload__toggle:focus {
  outline: 2px solid $primary-text-color;
}

//Crop

.form-upload__button--crop {
  position: relative;
}

.form-upload__button--crop svg {
  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 44px;
    height: 44px;
  }
}

.form-upload__scale--crop {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 2px;
  width: 240px;
  background-color: $primary-text-color;
  margin: 0 auto;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    top: 51px;
    left: 75px;
  }
}

.form-upload__toggle--crop {
  right: 32px;
  top: -6px;

  @media (min-width: $tablet-width) {
    right: 41px;
  }

  @media (min-width: $desktop-width) {
    right: 204px;
  }
}

//Fill

.form-upload__button--fill {
  @media (min-width: $tablet-width) {
    position: relative;
    opacity: 1;
  }
}

.form-upload__button--fill svg {
  @media (min-width: $tablet-width) {
    fill: $red;
    width: 24px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 48px;
    height: 43px;
  }
}

.form-upload__scale--fill {
  position: absolute;
  top: 121px;
  left: 121px;
  height: 2px;
  width: 240px;
  background-color: $primary-text-color;
  margin: 0 auto;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    top: 124px;
    left: 75px;
  }
}

.form-upload__toggle--fill {
  @media (min-width: $tablet-width) {
    left: 24px;
    top: -6px;
  }

  @media (min-width: $desktop-width) {
    left: 246px;
  }
}

//Contrast

.form-upload__button--contrast {
  @media (min-width: $tablet-width) {
    position: relative;
    opacity: 1;
  }
}

.form-upload__button--contrast svg {
  @media (min-width: $tablet-width) {
    fill: $red;
    width: 16px;
    height: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 32px;
    height: 32px;
  }
}

.form-upload__scale--contrast {
  position: absolute;
  top: 184px;
  left: 121px;
  height: 2px;
  width: 240px;
  background-color: $primary-text-color;
  margin: 0 auto;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    top: 194px;
    left: 75px;
  }
}

.form-upload__toggle--contrast {
  @media (min-width: $tablet-width) {
    left: 95px;
    top: -6px;
  }

  @media (min-width: $desktop-width) {
    left: 159px;
  }
}

.form-upload__scale {
  @media (min-width: $tablet-width) {
    width: 202px;
    left: 100px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
    left: 182px;
  }
}
//Buttons

.form-upload__list-buttons {
  margin: 0;
  padding: 0;
  padding-top: 87px;
  padding-bottom: 41px;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    margin-left: 47px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-top: 155px;
    margin-left: 90px;
  }
}

.form-upload__item-button {
  margin: 0 auto;
}

.form-upload__button-post {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  width: 100%;
  background-color: $secondary-background-color;
  border-radius: 30px;
  padding-bottom: 16px;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    width: 183px;
  }
}

.form-upload__button-post--submit {
  color: $red;
  border: 3px solid $red;
  padding-top: 16px;
  margin: 0 auto;
}

.form-upload__button-post--submit:hover {
  background-color: $red;
  color: $white;
}

.form-upload__button-post--submit:active {
  color: $logo-opacity-color;
  background-color: $red;
}

.form-upload__button-post--cancel {
  color: $border-social-color;
  border: 3px solid $border-social-color;
  padding-top: 15px;
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: 44px;
  }
}

.form-upload__button-post--cancel:hover {
  border-color: $button-color;
  color: $button-color;
}

.form-upload__button-post--cancel:active {
  border-color: $button-color;
  background-color: $button-color;
  color: $logo-opacity-color;
}
