.form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    max-width: 940px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

.form__field {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  color: $primary-text-color;

  @media (max-width: $mobile-width-only) {
    border: none;
  }

  @media (min-width: $tablet-width) {
    min-width: 620px;
    border: 2px solid $light-gray;
    border-radius: 1px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 936px;
  }
}

.form__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  padding-top: 36px;
  padding-bottom: 20px;
  width: 100%;
}

.form__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.form__label {
  color: $red;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 6px;
  padding-left: 23px;
}

.form__input {
  border: 2px solid $light-gray;
  border-radius: 1px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.form__input::-webkit-input-placeholder {
  font-family: $font-stack;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.form__field::-webkit-input-placeholder {
  color: $primary-text-color;
}

.form__legend {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  color: $red;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 23px;
    padding-right: 23px;
    text-align: center;
  }
}

//Form-login

.form__field--login {
  border: none;
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    min-width: 433px;
    margin: 0;
  }
}

.form__label--login {
  @media (min-width: $tablet-width) {
    padding-right: 20px;
    padding-top: 20px;
  }
}

//Form-checkbox

.form__checkbox {
  cursor: pointer;
}

.form__checkbox + .form__label-checkbox::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  border: 2px solid $table-border-color;
  top: -4px;
  left: 0;
  background-color: $white;
  border-radius: 1px;
}

.form__checkbox:checked + .form__label-checkbox::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 16px;
  top: 7px;
  left: 9px;
  background-image: url("../../img/tick.svg");
  background-repeat: no-repeat;
}

.form__label-checkbox {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  color: $primary-text-color;
  padding-left: 59px;
}

.form__list--checkbox {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.form__item--checkbox {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-bottom: 52px;

  @media (min-width: $tablet-width) {
    padding-left: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 44px;
  }
}

@media (max-width: $mobile-width-only) {
  .form__item--checkbox:nth-of-type(6) {
    padding-bottom: 27px;
  }
}

@media (min-width: $desktop-width) {
  .form__item--checkbox:nth-of-type(1) {
    order: 1;
  }

  .form__item--checkbox:nth-of-type(2) {
    order: 4;
  }

  .form__item--checkbox:nth-of-type(3) {
    order: 2;
  }

  .form__item--checkbox:nth-of-type(4) {
    order: 5;
  }

  .form__item--checkbox:nth-of-type(5) {
    order: 3;
  }

  .form__item--checkbox:nth-of-type(6) {
    order: 6;
  }
}

.form__field--checkbox {
  @media (max-width: $mobile-width-only) {
    position: relative;
    padding-top: 80px;
    display: block;
    background-color: $secondary-background-color;
  }

  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.form__legent--checkbox {
  @media (max-width: $mobile-width-only) {
    display: block;
    position: absolute;
    width: 218px;
    left: 50%;
    top: 38px;
    transform: translate(-50%, 0);
  }
}

//Form-contacts

.form__fild--contacts {
  @media (min-width: $tablet-width) {
    border: 2px solid $light-gray;
    border-radius: 1px;
    order: 3;
  }
}

.form__list--contacts {
  padding-top: 32px;
  padding-bottom: 26px;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.form__item--contacts {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.form__legend--contacts {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.form__input--contacts {
  display: block;

  @media (min-width: $tablet-width) {
    max-width: 437px;
    margin: 0 auto;
    margin-left: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 365px;
  }
}

.form__label--contacts {
  @media (min-width: $tablet-width) {
    padding-left: 77px;
  }
}

//Form-radio

.form__radio {
  cursor: pointer;
}

.form__list--radio {
  padding-bottom: 0;
}

.form__radio + .form__label-radio::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  border: 2px solid $table-border-color;
  top: -4px;
  left: 1px;
  background-color: $white;
  border-radius: 50px;
}

.form__radio:checked + .form__label-radio::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 8px;
  left: 13px;
  background-color: $red;
  border-radius: 50px;
}

.form__label-radio {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  color: $primary-text-color;
  padding-left: 68px;
}

.form__item--radio {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 2px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding-left: 63px;
  }
}

.form__field--radio {
  @media (max-width: $mobile-width-only) {
    position: relative;
    padding-top: 79px;
    background-color: $secondary-background-color;
  }

  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    min-width: 429px;
    margin: 0;
    margin-left: 74px;
  }
}

.form__legent--radio {
  @media (max-width: $mobile-width-only) {
    display: block;
    position: absolute;
    width: 178px;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

//Form-textarea

.form__textarea {
  color: $primary-text-color;
  font-family: $font-stack;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid $light-gray;
  border-radius: 1px;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 124px;
  padding-left: 20px;
  width: 100%;
  resize: none;

  @media (min-width: $tablet-width) {
    margin: 47px 53px 82px 53px;
    width: 100%;
  }
}

.form__textarea::-webkit-input-placeholder {
  color: $primary-text-color;
  font-family: $font-stack;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.form__field--text {
  @media (min-width: $tablet-width) {
    border: 2px solid $light-gray;
    border-radius: 1px;
    order: 5;
  }
}

.form__legend--text {
  background-color: $white;
  padding-top: 39px;
  padding-bottom: 16px;
}

//Button

.form__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 620px;
    flex-direction: row;
    justify-content: space-between;
    order: 6;
  }

  @media (min-width: $desktop-width) {
    min-width: 940px;
  }
}

.form__button-submit {
  color: $white;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  width: 280px;
  text-transform: uppercase;
  background-color: $green;
  border: 2px solid $green;
  border-radius: 1px;
  padding-top: 14px;
  padding-bottom: 15px;
  margin: 48px auto 34px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: 0;
  }
}

.form__annotation {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin: 0;
  }
}

.form__annotation-add {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
  }
}
