.intro-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
