.load {
  background-color: $load-background-color;
  outline: 5px solid blue;
  outline-offset: -5px;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
}

.load__slogan {
  color: $white;
  padding-top: 29px;
  padding-bottom: 348px;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.load__link {
  color: $white;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.load__legend {
  color: $white;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 38px;
}

.load__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
