.load {
  position: relative;
  background-color: $load-background-color;

  @media (max-width: $mobile-width-only) {
    background-image: url("../../img/phone-hand-mobile.png"), url("../../img/back-mobile.jpg");
    background-repeat: no-repeat;
    background-position: 50% 28.5%, 50% -69px;
    background-size: 320px 285px, 100% 462px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/phone-hand-mobile@2x.png"), url("../../img/back-mobile@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/phone-hand-tablet.png"), url("../../img/back-tablet.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% bottom, 50% bottom;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/phone-hand-tablet@2x.png"), url("../../img/back-tablet@2x.jpg");
      background-size: 100%, cover;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/phone-hand-desktop.png"), url("../../img/back-desktop.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 26px bottom, 50% bottom;
  }
}

.load__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 620px;
    align-items: flex-start;
    padding-bottom: 97px;
  }

  @media (min-width: $desktop-width) {
    max-width: 940px;
    margin: 0 auto;
    align-items: flex-start;
    padding: 0 10px;
    padding-bottom: 108px;
  }
}

.load__slogan {
  color: $white;
  padding-top: 20px;
  padding-bottom: 343px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-align: center;
  z-index: 1;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 120%;
    max-width: 247px;
    /* or 48px */
    padding-top: 93px;
    padding-left: 26px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    padding-top: 209px;
    padding-bottom: 37px;
  }
}

.load__link {
  color: $white;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid $white;
  border-radius: 29px;
  width: 274px;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 294px;
    z-index: 4;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }
}

.load__link:hover {
  color: $red;
  background-color: $white;
}

.load__link:active {
  color: $link-opacity-color;
}

.load__legend {
  color: $white;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
  padding-bottom: 30px;
  max-width: 280px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 13px;
    padding-bottom: 17px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    max-width: 300px;
    z-index: 4;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 31px;
  }
}

.load__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 12px;
  margin: 0 auto;
  min-width: 239px;

  @media (min-width: $tablet-width) {
    justify-content: space-around;
    min-width: 241px;
    padding-top: 46px;
    padding-left: 27px;
    margin: 0;
    z-index: 4;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
  }
}

.load__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
