.page-header {
  display: flex;
  flex-direction: column;
  background-color: $primary-text-color;
  color: $white;
}

.page-header__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
  }
}

.page-header__link {
  display: block;
  padding-top: 23px;
  padding-left: 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid #000000;

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 43px;
    padding-bottom: 43px;
  }
}
