.page-header {
  background-color: $primary-text-color;
  color: $white;
  outline: 5px solid red;
  outline-offset: -5px;
}

.page-header__link {
  display: block;
  padding-top: 23px;
  padding-left: 20px;
}
