.page {
  min-width: 320px;
  height: 100%;
  font-size: 14px;
  font-family: $font-stack;
  line-height: 24px;
}

.page__body {
  max-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  color: $primary-text-color;
}

.page-footer__logo {
  padding-top: 52px;
}
