.photogallery__wrapper {
  margin: 0 auto;
}

.photogallery__box-title {
  background-color: $load-background-color;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0% 23%;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/back-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/back-desktop.jpg");
    background-size: cover;
  }
}

.photogallery__title {
  max-width: 172px;
  padding-top: 25px;
  padding-bottom: 77px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 358px;
    text-align: center;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 128px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 169px;
    padding-bottom: 90px;
  }
}

.photogallery__intro {
  padding-top: 44px;
  padding-bottom: 50px;
  margin: 0 auto;
  text-align: center;
  max-width: 244px;

  @media (min-width: $tablet-width) {
    max-width: 569px;
    padding-top: 91px;
    padding-bottom: 77px;
  }

  @media (min-width: $desktop-width) {
    max-width: 572px;
    padding-bottom: 88px;
  }
}

.photogallery__user-photo-box {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 0 auto;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 300px 300px 300px;
  }
}
