.photogallery__title {
  padding-top: 36px;
  padding-bottom: 84px;
  background-color: $load-background-color;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
}

.photogallery__intro {
  padding-top: 54px;
  padding-bottom: 60px;
}
