.price {
  background-color: $secondary-background-color;

  @media (max-width: $mobile-width-only) {
    overflow: hidden;
  }
}

.price__wrapper {
  padding-bottom: 90px;
  margin: auto;
}

.price__list {
  width: 832px;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 616px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.price__title {
  background-color: $primary-text-color;
  color: $white;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0;
}

.price__title--empty {
  background-color: $secondary-background-color;
}

.price__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.price__field {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
