.reviews {
  background-color: $white;
}

.reviews__wrapper {
  margin: auto;
  padding: 0 20px;
  padding-top: 42px;
  padding-bottom: 79px;
  text-align: center;
  background-image: linear-gradient(355.3deg, $secondary-background-color 16%, transparent 13%);

  @media (min-width: $tablet-width) {
    padding-top: 97px;
    padding-bottom: 84px;
    background-image: linear-gradient(356.3deg, $secondary-background-color 16%, transparent 13%);
  }

  @media (min-width: $desktop-width) {
    padding-top: 184px;
    padding-bottom: 138px;
    background-image: url("../../img/quotes.svg"), linear-gradient(355.3deg, $secondary-background-color 16%, transparent 13%);
    background-repeat: no-repeat;
    background-position: 50% 16%;
  }
}

.reviews__list {
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 620px;
  }

  @media (min-width: $desktop-width) {
    max-width: 688px;
  }
}

.reviews__author-name {
  color: $black;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    order: 2;
    padding: 0;
    padding-top: 14px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-about {
  display: none;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 30px;
    display: block;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-top: 2px;
  }
}

.reviews__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.reviews__item {
  margin: 0;
  display: flex;
  flex-direction: column;
}
