.slider {
  position: relative;
}

.slider__toggles {
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.slider__toggle {
  display: inline-block;
  padding: 0;
  margin: 0 7px;
  width: 6px;
  height: 6px;
  background-color: $border-social-color;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider__toggle:hover {
  background-color: $bullet-color;
}

.slider__toggle:active {
  opacity: 0.1;
}

.slider__toggle--current {
  background-color: $white;
  border: 3px solid $primary-text-color;
  width: 10px;
  height: 10px;
}

.slider__toggle--current:hover {
  background-color: $white;
}

.slider__toggles--price {
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__controls {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    cursor: pointer;
  }
}

.slider__control {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 213px;
  background-image: url("../../img/left-arrow.svg");
  background-color: transparent;
  width: 22px;
  height: 41px;
  border: none;
  cursor: pointer;
  opacity: 0.6;
}

.slider__control:hover {
  opacity: 0.3;
}

.slider__control:active {
  opacity: 0.1;
}

.slider__control--prev {
  left: 10px;
}

.slider__control--next {
  right: 10px;
  transform: rotate(180deg);
}
