.upload__wrapper {
  margin: 0 auto;
}

.upload__intro {
  padding-top: 23px;
  padding-bottom: 42px;
  max-width: 280px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 422px;
    padding-top: 66px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 22px;
    padding-bottom: 67px;
  }
}
