.user-foto {
  min-height: 455px;
}

.user-foto__image--of-the-day

.user-foto__review {
  background-color: $secondary-background-color;
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.user-foto__review--of-the-day {
  @media (min-width: $tablet-width) {
    max-width: 620px;
    margin: 0 auto;
  }
}

.user-foto__like {
  background-color: $secondary-background-color;
  margin-bottom: 20px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.user-foto__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding-top: 25px;
  padding-left: 17px;
}

.user-foto__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 25px;
  padding-left: 17px;
}

.user-foto__timeago {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  margin-left: 3px;
}

.user-foto__like-button {
  padding: 0;
  padding-bottom: 26px;
  padding-left: 17px;
  border: none;
  color: $red;
  background-color: $secondary-background-color;
}

.user-foto__label {
  padding-left: 18px;
}

.user-foto__image {
  display: block;
  margin: auto;
  background-color: $load-img-background-color;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.user-foto__image--of-the-day {
  margin: 0 auto;
}
