.user-photo__wrapper {
  @media (max-width: $mobile-width-only) {
    max-width: 280px;
    margin: 0 auto;
  }
}

.user-photo__image {
  display: block;
  margin: auto;
  background-color: $load-img-background-color;
}

.user-photo__review {
  background-color: $secondary-background-color;
  margin: 0;
  margin-bottom: 20px;
  padding: 26px 26px 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 155px;
  }
}

.user-photo__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.user-photo__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: auto;
  }
}

.user-photo__timeago {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  margin-left: 3px;
}

.user-photo__like-button {
  display: block;
  padding: 0;
  padding-top: 25px;
  border: none;
  color: $red;
  background-color: $secondary-background-color;
}

.user-photo__label {
  padding-left: 18px;
}

//User-photo--pinned

.user-photo--pinned {
  margin-bottom: 20px;
}

.user-photo__review--pinned {
  max-width: 228px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 620px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    max-width: 873px;
  }
}

.user-photo__image--pinned {
  margin: 0 auto;
}

.user-photo__like-button--pinned {
  @media (min-width: $tablet-width) {
    order: 2;
    padding: 0;
    margin-top: -15px;
    margin-left: auto;
    margin-right: 20px;
  }
}

.user-photo__title--pinned {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.user-photo__text--pinned {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}
