// Font

$font-stack: "Open Sans", "Arial", sans-serif;

// Colors

$white: #ffffff;
$black: #000000;
$red: #d22856;
$orange: #f25b26;
$light-gray: #e5e5e5;

$secondary-background-color: #f2f2f2;
$load-img-background-color: #052237;
$load-background-color: #1d2631;
$primary-text-color: #283645;
$box-shadow-color: rgba(255, 255, 255, 0.15);
$border-social-color: rgba(40, 54, 69, 0.1);

// Viewports

$tablet-width: 600px;
$desktop-width: 1200px;
$mobile-width-only: 599px;
